<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/8153603d85.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="content">
    <div class="navbar">
        <h2 class="brand">QuizzMania</h2>
        <div class="navbar-links">
            <ul>
                <li class="menu-link"><a class="{{ (app.request.pathinfo == '/') ? 'special-link' : '' }}" href="/">Accueil</a>
                </li>

                {% if app.user %}

                    <li class="menu-link">
                        <a class="{{ (app.request.pathinfo == '/profile') ? 'special-link' : '' }}" href="/profile">
                            Profil
                        </a>
                    </li>

                    <li class="menu-link">
                        <a href="/logout">
                            Se déconnecter
                            <i class="fa-solid fa-arrow-right-from-bracket icon"></i>
                        </a>
                    </li>

                    <li class="menu-link"><a class="{{ (app.request.pathinfo == '/defi') ? 'special-link' : '' }}"
                                             href="/defi">Défis</a></li>
                    <li class="menu-link"><a
                                class="{{ (app.request.pathinfo == '/question') ? 'special-link' : '' }}"
                                href="/question">Proposer une question</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menu-link"><a
                                    class="{{ (app.request.pathinfo == '/admin') ? 'special-link' : '' }}"
                                    href="/admin">Espace d'administration</a></li>
                    {% endif %}

                {% else %}
                    <li class="menu-link"><a class="{{ (app.request.pathinfo == '/login') ? 'special-link' : '' }}"
                                             href="/login">Se connecter</a></li>
                    <li class="menu-link"><a class="{{ (app.request.pathinfo == '/register') ? 'special-link' : '' }}"
                                             href="/register">S'enregistrer</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
    {% block body %}{% endblock %}

</div>

</body>
</html>
